<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
    </head>
    <body>
        <form action="/login" method="POST">
            <input type="text" name="username" id="">
            <input type="password" name="password" id="">
            <input type="submit" value ="Enviar">
        </form>
    </body>
</html>